body{
    background-color: #2b2e7f;
}

.box-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(auto-fit,2fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
}
.info-container{
    grid-column: 2/3;
    border: 2px none;
    border-radius: 30px;
    background-color: white;
}

.info-container > img{
    width: 20px;
    height: auto;
}

