@import url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);

body{
    font-family: Merriweather, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2b2e7f;
}

.back{
    margin: 20px;
}

.back > a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(-40%);
}

.logo > img{
    width: 30px;
    height: auto;
    transform: translateY(220%) translateX(-10%);
}

.logo>h2{
    color: white;
    transform: translateY(280%) translateX(2%);
}

.box-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px
}
.info-container{
    grid-column: 2/3;
    border: 2px none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.info-container > h1{
    color: #2B2E7F;
    margin-bottom: 10px;
}
.info-container >p{
    margin-top: 0px;
    color: #969393;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    gap: 10px; 
}

.Ico {
    width: 40px;
    height: auto;
}

.info {
    width: 300px;          
    padding: 10px;         
    border-radius: 8px;   
    border: 1px solid #2b2e7f;
    font-size: 14px;
    outline: none;         
}

.info:focus {
    border-color: #2b2e7f; 
    box-shadow: 0 0 5px rgba(43, 46, 127, 0.5);
}

.btn{
    color: white;
    border: 2px none;
    border-radius: 10px;
    background-color: #2b2e7f;
    margin: 20px;
    padding: 12px 120px;
    transition: .2s ease-in-out;
    font-size: 20px;    
    cursor: pointer;

}

.btn:hover{
    background-color: #111235;
}

.btn:active{
    background-color: #131420;
}

.last{
    text-align: center;
    color: white;
}
.last >a{
    color: white;
}
